header{
    background-color: lightblue;
}

.navBar{

    background-color: $mainColor;
    min-height: 10vh;
    @include flex(row, space-around, center);
    flex-wrap: wrap;
    color: white
  
}

.logo{

    flex: 1 1 40rem;
    margin-left: 10rem;
}

.navLinks{

    flex: 1 1 40rem;
    @include flex(row, space-around, center);
    
    li{
        margin-right: 5rem;
    }
}


/*Burguer*/
/*Step2*/
.burguer{

    padding: 0rem 1rem;
    display: none;
}
.burguer div{

    width: 25px;
    height: 2.5px;
    background-color: white;
    margin: 5px;
   

}